<ActionBar title="Modal Pages">
    <ActionItem text="add" (tap)="onRedisplay()" ios.systemIcon="4"
        android.systemIcon="ic_menu_add" ios.position="right"
        android.position="popup">
    </ActionItem>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label text="Calendar" class="label-calendar"></Label>
        <Label text="from" class="label-from"></Label>
        <Label text="Photo" class="label-photo"></Label>
    </StackLayout>
</ActionBar>



<StackLayout class="home-panel">
    <BottomNavigation selectedIndex="1">
        
        <TabContentItem class="first">
            <ScrollView>
                <StackLayout>
                    <StackLayout (loaded)="loaded($event)" class="image-container">
                        <Image
                            [src]="imageSrc"
                            width="320"
                            height="320"
                            stretch="aspectFit">
                        </Image>
                    </StackLayout>
                    <StackLayout>
                        <TextView [text]="resulttext"></TextView>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <StackLayout class="camerabutton"
                            (tap)="onTakePictureTap($event)">
                            <StackLayout class="camerabutton-image">
                                <Image src="~/logo/camera.png"></Image>
                            </StackLayout>
                            <StackLayout class="camerabutton-text">
                                <Label text="Take a photo and upload"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout class="folderbutton"
                            (tap)="onSelectImageTap($event)">
                            <StackLayout class="folderbutton-image">
                                <Image src="~/logo/folder.png"></Image>
                            </StackLayout>
                            <StackLayout class="folderbutton-text">
                                <Label text="Choose image to upload"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </TabContentItem>

        <TabContentItem class="second">
            <StackLayout>
                <RadCalendar height="auto"
                    [eventSource]="calendarEvents" eventsViewMode="Inline"
                    selectionMode="Single" viewMode="Month"
                    transitionMode="Stack" locale="en-US"
                    (inlineEventSelected)="onInlineEventSelected($event)">
                </RadCalendar>
            </StackLayout>
        </TabContentItem>

        <TabStrip>
            <TabStripItem backgroundColor="#EEEEFF">
                <Image src="~/logo/upload.png" class="buttonimage"></Image>
            </TabStripItem>
            <TabStripItem backgroundColor="#EEEEFF">
                <Image src="~/logo/calendar.png" class="buttonimage"></Image>
            </TabStripItem>
        </TabStrip>

    </BottomNavigation>
</StackLayout>